.containersaaccountrequest{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;  
}

.list-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #333; /* Use a darker gray color for the border */
  margin-top: 20px;
}

.list-table td {
  border: 1px solid #333; /* Use a darker gray color for the border */
  padding: 8px;
  text-align: center;
  font-size: 12px;
}

.list-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  border: 1px solid #333; /* Use a darker gray color for the border */
  padding: 8px;
  text-align: center;
  font-size: 17px;
}
  
  .salistuserbutton {
    padding: 5px 10px;
    background-color: #63746a;
    color: #000000;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
  }
  .salistuserdeclinebutton {
    padding: 5px 10px;
    background-color: #63746a;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}
.btremove {
    padding: 5px 10px;
    background-color: #ca1414;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

  
.salistuserbutton:hover {
    background-color: #13bb37;
  }

  .salistuserdeclinebutton:hover {
    background-color: #f70e06;
  }
  .btremove:hover {
    background-color: #63746a;
  }
  


  