* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

.cashcontainer {
    display: flex;
    flex-direction: row;
    height: 107vh;


}

.cashsidebar {
    width: 200px;
    background: rgb(255, 255, 255);
    color: #181414;
    height: 107vh;


}

.cashtop_section {
    background-image: url('/src/Images/Edited-removebg-preview.png');
    background-size: 200px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 85px 10px;
}

.bars {
    display: flex;
    font-size: 20px;
    margin-left: 50px;
}

.link {
    display: flex;
    color: #000000;
    padding: 15px 31px;
    gap: 20px;
    transition: all 0.5s;
}

.link:hover {
    background: #D6D3D4;
    color: #000;
    transition: all 0.5s;
}

.active {
    background: white;
    color: #000;
}

.icon {
    font-size: 16px;
}

.link_text {
    font-size: 16px;
}